.dashboard
  .row
    %h1.text-center Bienvenido a Central Ahorro
    .small-12.medium-6.columns
      .box
        %h3.text-center= link_to "Ir al dashboard", dashboard_path
        = link_to image_tag("dashboard.png"), dashboard_path
    .small-12.medium-6.columns
      .box
        %h3.text-center= link_to "Ir a la tienda", spree.root_path
        = link_to image_tag("store.png"), spree.root_path
