.dashboard
  .row
    .small-12.medium-7.columns 
      .box
        #test
    .small-12.medium-5.columns
      .row
        .small-12.columns
          .box
            .row
              .small-12.medium-6.columns
                %h3 Pie Graph
              .small-12.medium-6.columns
                %p Info
      .row
        .small-6.columns
          .box.text-center
            %h4 1.2K
            %p Data Here
        .small-6.columns
          .box.text-center
            %h4 18.6K
            %p Data
  .row
    .small-6.medium-3.columns
      .box.text-center
        %h4 1.2K
        %p Data Here
    .small-6.medium-3.columns
      .box.text-center
        %h4 1.2K
        %p Data Here
    .small-6.medium-3.columns
      .box.text-center
        %h4 1.2K
        %p Data Here
    .small-6.medium-3.columns
      .box.text-center
        %h4 1.2K
        %p Data Here